<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elasticsearch.demo.module.student.repository.StudentQdInfoRepository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elasticsearch.demo.module.student.entity.StudentQdInfo">
        <id column="XH" property="xh" />
        <result column="XM" property="xm" />
        <result column="SFZ" property="sfz" />
        <result column="LXDH" property="lxdh" />
        <result column="NJ" property="nj" />
        <result column="BJ" property="bj" />
        <result column="ZY" property="zy" />
        <result column="BZR" property="bzr" />
        <result column="CJSJ" property="cjsj" />
        <result column="GXSJ" property="gxsj" />
        <result column="XY" property="xy" />
        <result column="XX" property="xx" />
    </resultMap>

</mapper>
